h1{
    color:blue;
    text-decoration:line-through;
    background-color: aquamarine;
}
body{
    background-color: beige;
}
#clickBtn{
    background-color: blueviolet;
    color:aliceblue;
}
.para{
    color:brown;
    font-size: medium;
    
}